.Home {
    background: linear-gradient(to bottom right,#6b5b95, black);
    height: 100vh;
    max-width: 100%;
    margin: 0;
}

.me {
    display: inline-block;
}

.me-pic {
    border-radius: 50%;
    display: inline-block;
}

.me-text {
    display: inline-block;
}

li:active {
    border-bottom: solid darkorange;
}

li {
    color: darkorange;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px; 
}

li:hover {
    cursor: pointer;
    color: darkorange;
}

.genre-chart {
    width: 45%;
    display: inline-block;
}

.decade-chart {
    width: 45%;
    display: inline-block;
}

footer {
    background-color: #212529;
}

.song-container {
    float: left;
}

.song-img {
    height: 75px;
    max-width: 100%;
    display: inline-block;
}

.song-title {
    color: white;
    display: inline-block;
}

.song-artist {
    color: white;
}



@media only screen and (max-width: 414px) {
    .genre-chart {
        width: 100%;
    }
}