.Home {
    background: linear-gradient(to bottom right,#6b5b95, black);
    height: 100%;
    max-width: 100%;
    margin: 0;
}

.me {
    max-width: 100%;
}

.me-pic {
    border-radius: 50%;
    display: inline-block;
    height: 100px;
    max-width: 100%;
}

.me-text {
    float: right;
    text-align: right;
}

.toggle {
    color: rgb(255, 209, 2);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px; 
    display: inline-block;
}

.active, .toggle:hover {
    color: rgb(255, 209, 2);
}

.genre-chart {
    width: 45%;
    display: inline-block;
}

.decade-chart {
    width: 45%;
    display: inline-block;
}

footer {
    background-color: #212529;
    bottom: 0;
    position: relative;
    height: 7em;
}

.song-container {
    float: left;
}

.song-img {
    height: 75px;
    max-width: 100%;
    display: inline-block;
}

.song-title {
    color: white;
    display: inline-block;
}

.song-artist {
    color: white;
}

.card {
    background-color: #212529;
    display: inline-block;
}

hr {
    background-color: rgb(255, 209, 2);
}

.other-items {
    color: white;
}

.other-items::before {
    content: "\2023";
    color: #6b5b95;
    margin-right: 1em;
}

#wrapper {
    width: 640px;
    margin: 10px auto;
}

#defaultbar {
    width: 640px;
    position: relative;
    height: 10px;
    background-color: #313131;
}

#progressbar {
    position: absolute;
    height: 10px;
    background-color: white;
    width: 0px;
}

#play {
    background-color: #212529;
    border: none;
    height: 32px;
    widows: 32px;
}



@media only screen and (max-width: 414px) {
    .genre-chart {
        width: 100%;
    }
}